.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:blue;

}
.calculator{
    padding: 20px;
    border-radius:12px;
    background-color: white;
    border: 2px solid #000;
    width:300px;
      

}
 .display{
  width: 90%; 
  height: 20px; 
  margin-bottom: 15px;
  font-size: 20px;
  padding: 20px;
  text-align: right;
  border: 1px solid #ccc;
  background-color:rgb(64,64,64);
    


} 
form input{
  border: none;
  outline:0; 
  width:60px;
  height:60px;
  font-size:16px;
  background-color: rgb(91,91,151);
   margin:2px;
   border-radius: 10px; 
   color:white; 
   font-weight: bolder;
}
form input[type="button"]:hover{
  background-color: rgb(36,36,223)
}
.equal{
  width:120px;
}